@import "./normalize.scss";
@import "./settings.scss";

body {
    height: 100%;
}

// фон сайта
.wr-intro {
    background-image: url("../media/intro-back.jpg");
    height: 111vh;
    background-size: cover;
    background-position: left bottom;
    
}

// верхнее меню  (блок header)
.wr-head {    
    padding-top: 25px;

    .wraper {
        display: flex;
        align-items: flex-end;
    }

}

// логотип
.wraper {
    .logo {
        font-family: "Etna", sans-serif;
        font-size: 30px;
        letter-spacing:1px;
        padding-top: 2px;
    }
}

// меню
.nav-bar  {
    ul {    
    display: flex;
    padding: 0;
    margin-left: 262px;      
        li {
            margin-right: 51px;
            font-size: 11px;
            a {
                font-family: "JosefinSans-Bold", sans-serif;
                &:hover {
                    color: #2ecc71;
                }
            }
        }
    }
}

// поиск и корзина
.header-basket {
    margin-left: 238px;

    .search {
        padding-right: 15px;
    }

}


// Заголовок сайта
.wr-welcome {
    padding-top: 34vh;
    .wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
            h1 {
                color: #fff;
                font-size: 60px;
                font-family: "JosefinSans-Bold", sans-serif;                
                letter-spacing: -3.3px;
            }
            span {
                border: 2px solid #2ecc71;
                width: 144px;
                margin-top: 10px;
            }


    }

}

.btn {                    
    border: 3px solid #fff;
    width: 170px;
    height: 50px;
    margin-right: 7px;
    margin-top: 29px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    &:hover {
        border: 3px solid #2ecc71;
    }
}

.wraper-text {
    width: 67vh;
    p {
        text-indent: 30px;
        padding-top: 27px;
        line-height: 24px;
        color: #fff;
        padding-left: 0px;
        text-align: center;
    }
}

//  about us
.wr-about {

    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding-top: 113px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;




        .wr-about-content {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 80px;

            .wr-about-img {   
                width: 50%;
                padding-top: 70px;
                img {                    
                    box-shadow: -70px -70px #2ecc71;                    
                    width: 440px;
                    margin-left: 102px;
                    border: 5px solid transparent;
                    border-image: linear-gradient(135deg, rgb(151, 230, 184) 0%, rgba(46,204,113,0) 50%, rgba(46,204,113,0) 100%);
                    border-image-slice: 1;
                    
                }
            }


        } 

        .wr-about-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 60px;
            width: 50%;

            h3 {
                font-family: "JosefinSans-Bold";
                font-size: 30px;
                letter-spacing: -1.9px;
                margin: 0;
                &::after {
                    content: "";
                    display: block;
                    width: 48px;
                    border: 2px solid #2ecc71;
                }

            }

            a {
                color: #000;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid black;
                width: 183px;
                height: 44px;
                text-align: center;
                font-family: "JosefinSans-Bold";
                font-size: 17px;

                svg {
                    fill: #000;
                    margin-right: 9px;
                    width: 18px;
                }

                &:hover {
                    background-color: #929292;
                }
            }
        }        
}


.features {
    display: block;            
    width: 100%;
    border-left: 4px solid #2ecc71;

    p {
        b{
            color: #000;
            font-style: normal;
        }
        width: 100%;
        display: inline-block;
        padding: 20px 0 0 10px;
        font-style: italic;
    }

    p:first-child {
        padding-top: 0;
    }
}

.wr-about-services {
    padding-top: 82px;
    display: flex;
    justify-content:space-around;
    width: 100%;


    .img-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px 0 20px;

        .circle {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #2ecc71;
            border-radius: 50%;
            height: 100px;
            width: 100px;
            &:hover{
                background-color: #a8a8a8;
            }
        }
        h3 {
            font-family: "JosefinSans-Bold";
            font-size: 20px;
            margin-top: 28px ;
            letter-spacing: -1px;  
               }

        p {
            margin-top: 18px;
            text-align: center;
        }

    }
}
//  Секция Works
.wr-recent-works {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 43px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .nav-works {
        
        margin-top: 61px;
        ul {    
            display: flex;
            padding: 0;     
                li {
                    margin-right: 51px;
                    font-size: 14px;
                    button {
                        border: 0;
                        background: transparent;
                        cursor: pointer;
                        font-family: "JosefinSans-Bold", sans-serif;
                        color: #000;
                        outline: none;
                        &:hover {
                            color: #2ecc71;
                        }
                    }
                }
            }
    }

    .images-works {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 74px;
        .photo-works {
            width: 25%;
            img {
                width: 100%;
                height: 100%
            };

        }
    }

}
// Секция Новости
.wr-our-news {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding-top: 64px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .wr-news {
        display: flex;
        margin: 95px 0 0 0px;
    }
}

.news-block {
    margin: 0 20px 0 20px;


    h2 {
        margin: 0;
        padding-top: 6px;
    }

    .text-matrix {
        font-size: 14px;
    }
}
.img-news {
    width: 340px;
    height: 320px;
        img {
            width: 100%;
            height: 100%;
        }
        &:hover{
            .read-more {
                z-index: 10;
            }
        }
    // background-image: url("../media/news-journey.jpg");
    // background-repeat: no-repeat;
    // background-position:top  center;

    .read-more {
        position: absolute;
        display: block;
        width: 338px;
        height: 80px;
        background-color: rgba(46, 204, 113, 0.5);                
        z-index: -5;
        margin-top: -204px;
        text-align: center;
    
        a {
            display: block;
            padding-top: 32px;
        }
    }
}
// Секция с описание специалиста
.wr-specialist {
    margin-left: auto;
    margin-right: auto;    
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c9d2d9;

    .wr-block-specialist {
        max-width: 1170px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .wr-specialist-text {
        padding-left: 137px;
        height: 400px;
        // display: flex;

        img {
            padding-top: 32px; 
        }
         p {
             text-align:right;
             font-size: 14px;
             letter-spacing: -1.2px;
         }
        .text-hr {
            margin-top: 30px;
            line-height: 18px;
            letter-spacing: -0.1px;
            text-align: left;
            font-size: 14px;            
            word-spacing: -3px;        
        }

        h2 {
            margin-top: 30px;
            text-align: right;
            font-size: 30px;
            letter-spacing: -2px;
            color: #000;
            
        }
       
        // p:first-child {            
        //     font-size: 200px;
        //     color: #94bad7;
        //     font-family: "Gautami-Bold";
            
        // }
    }

} 

//  Секция Руководители 
.wr-team {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding-top: 162px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-team-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 96px;
    .items {
        margin-bottom: 100px;
        display: flex;
        position: relative;
        width: 50%;
    }
}
.text-right {
    padding: 23px 0 0 24px;
    h3 {
        font-size: 20px;
        color: #000;        
        letter-spacing: -1px;
    }
    p {
        letter-spacing: -1px;
    }
}
.text-items {
    margin-top: 10px;
}

//  Секция логотипы компаний

.company {
    width: 100%;
        
    background-image: url("../media/background-company.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
    .block-company {
        height: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 1170px;
    }

}

.img-company {
    max-width: 170px;
    max-height: 38px;

    img {
        width: 100%;
        height: 100%;
    }
}


//  Секция c Ценами 

.pricing {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding-top: 162px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-table-block {
    margin-top: 82px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.price-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;

    width: 300px;
    h4 {
        margin: 32px 0 0 0;
        font-size: 60px;
        p {
            display: inline-block;
            font-size: 24px;
            color: #000;
        }
    }
    span {
        margin-top: 30px;
        display: block;
        width: 80px;
        border: 2px solid #2ecc71;
        align-items: center;
    }
    a {
        background-color: #2ecc71;
        width: 170px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin: 35px 0 38px 0;
        box-sizing: border-box;
        &:hover {
            border: 3px solid #fff;
        }
    }
}

.price-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #000;
    h3 {
        font-size: 20px;
        color: #fff;
    }
}

.ability-text {
    p {
        margin-top: 15px;
        text-align: center;
    }
}




// Footer

footer {
    margin-left: auto;
    margin-right: auto;    
    padding-top: 162px;
    padding-bottom: 150px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #14151a;

    .images-works {
        width: 25%;
    }

    p {
        font-size: 14px ;
        text-align: left;
        font-style: italic;
    }
    h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
}
// верхнйи блок Footer
.footer-a {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;

}

.about-contact {
    display: flex;
    flex-direction: column;

}
.icons-about {
    display: flex;
    margin-top: 20px;
    img {
        height: 100%;
    }
    p { 
        padding-left: 10px;
    }
}

.footer-news-block {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    p {
        width: 65%;        
    }

    &:hover {
        .img-news {
            .read-more {
                z-index: 10;
            }
        }


        p {
            color: #2ecc71;
        }
    }
}


.footer-news {
    

    .img-news {        
        width: 88px;
        height: 88px;
            img {
                width: 100%;
                height: 100%;
            }    
        .read-more {
            position: absolute;
            display: block;
            width: 88px;
            height: 42px;
            background-color: rgba(46, 204, 113, 0.5);                
            z-index: -5;
            margin-top: -68px;            
            text-align: center;
        
            a {
                display: block;
                padding-top: 15px;
            }

            .img-seach {
                width: 18px;
                height: 18px;
            }
        
        }
    }


}


.footer-block {
    margin-right: 20px;
    width: 25%;
    &:last-child {
        margin-right: 0;
    }
}


.footer-works {
    .images-works {
        display: flex;
        flex-wrap: wrap;
        width:100%;
        .photo-works {
            width: 33%;
            img {
                width: 100%;
                height: 100%
            }

        }
    }
}


.footer-touch {
    p {
        &::after {
            content: "";
            width: 100%;
            display: block;
            border: 1px solid #fff;    
        }
    }

}

.footer-icons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;

    .icons-sn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        &:hover {
            background-color: #f85993;
        }

        img {
            width: 16px;
            height: 18px; 
        }

    }

}

// Нижний блок footer
.footer-b {
    height: 64px;
    background-color: #0f0f15;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-bar  {
        ul {    
        display: flex;
        padding: 0;
        margin-left: 0;            
            li {
                margin-right: 51px;
                font-size: 11px;
                a {
                    font-family: "JosefinSans-Bold", sans-serif;
                    &:hover {
                        color: #2ecc71;
                    }
                }
            }
        }
    }
}

.nav-bar-footer {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    width: 100%;
}

.copyright {
    p {
        font-size: 12px;
    }
}